#main
    {
        width: 100%;
    }
    aside
    {
        width: 100%;
        background-color:aqua;
    }
    article
    {
        width: 100%;
    }

@media (min-width: 400px )
{   
    #main
    {
    width: 100%;
    }
    aside
    {
        width: 20%;
        float: right;
        background-color: blueviolet;
    }
    article , footer
    {
        float: left;
        width: 60%;
        border: 0;
    }

}
   
